<a href="/posts/{{id}}">
  <div class='post-container'>
    <div class='post'>
      <div class='post-header'>
        <div class='post-title'>
          <h2>{{title}}</h2>
          <h3>{{format_date date}}</h3>
        </div>
        <div class='post-user'>
          <svg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 30 34' fill='none'>
            <g clip-path='url(#clip0_2_95)'>
              <path
                d='M15 17C17.2733 17 19.4535 16.1045 21.0609 14.5104C22.6684 12.9163 23.5714 10.7543 23.5714 8.5C23.5714 6.24566 22.6684 4.08365 21.0609 2.48959C19.4535 0.895533 17.2733 0 15 0C12.7267 0 10.5465 0.895533 8.93908 2.48959C7.33163 4.08365 6.42857 6.24566 6.42857 8.5C6.42857 10.7543 7.33163 12.9163 8.93908 14.5104C10.5465 16.1045 12.7267 17 15 17ZM11.9397 20.1875C5.34375 20.1875 0 25.4867 0 32.0277C0 33.1168 0.890625 34 1.98884 34H28.0112C29.1094 34 30 33.1168 30 32.0277C30 25.4867 24.6563 20.1875 18.0603 20.1875H11.9397Z'
                fill='url(#paint0_linear_2_95)'
              />
            </g>
            <defs>
              <linearGradient id='paint0_linear_2_95' x1='15' y1='0' x2='15' y2='34' gradientUnits='userSpaceOnUse'>
                <stop stop-color='#40BFB3' />
                <stop offset='1' stop-color='#03B5CF' />
              </linearGradient>
              <clipPath id='clip0_2_95'>
                <rect width='30' height='34' fill='white' />
              </clipPath>
            </defs>
          </svg>
          <h2>{{account.username}}</h2>
        </div>
      </div>
      <div class='post-content'>
        <p>{{content}}</p>
      </div>
      <div class='post-footer'>
        <h3>{{tagline}}</h3>
        <aside>
          <div>
            <svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 35 35' fill='none'>
              <g clip-path='url(#clip0_2_142)'>
                <path
                  d='M35 16.4062C35 24.2607 27.166 30.625 17.5 30.625C14.9639 30.625 12.5576 30.1875 10.3838 29.4014C9.57032 29.9961 8.24415 30.8096 6.67189 31.4932C5.03126 32.2041 3.05568 32.8125 1.09376 32.8125C0.649427 32.8125 0.252943 32.5459 0.0820443 32.1357C-0.0888541 31.7256 0.00684897 31.2607 0.314466 30.9463L0.334974 30.9258C0.355482 30.9053 0.382825 30.8779 0.423841 30.8301C0.499036 30.748 0.615247 30.6182 0.758802 30.4404C1.03908 30.0986 1.41505 29.5928 1.79786 28.9639C2.48146 27.8291 3.13087 26.3389 3.26075 24.6641C1.20997 22.3398 1.30438e-05 19.4893 1.30438e-05 16.4062C1.30438e-05 8.55176 7.834 2.1875 17.5 2.1875C27.166 2.1875 35 8.55176 35 16.4062Z'
                  fill='#465265'
                />
              </g>
              <defs>
                <clipPath id='clip0_2_142'>
                  <rect width='35' height='35' fill='white' />
                </clipPath>
              </defs>
            </svg>
            <p>1</p>
          </div>
          <div>
            <svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 35 35' fill='none'>
              <path
                d='M21.4238 2.24907C23.2012 2.60454 24.3564 4.33403 24.001 6.11138L23.8437 6.89067C23.4814 8.71587 22.8115 10.4522 21.875 12.0313H31.7188C33.5303 12.0313 35 13.501 35 15.3125C35 16.5772 34.2822 17.6778 33.2295 18.2247C33.9746 18.8262 34.4531 19.7491 34.4531 20.7813C34.4531 22.3809 33.3047 23.7139 31.7939 24.001C32.0947 24.5 32.2656 25.0811 32.2656 25.7032C32.2656 27.1592 31.3154 28.3965 30.0029 28.8204C30.0508 29.0459 30.0781 29.2852 30.0781 29.5313C30.0781 31.3428 28.6084 32.8125 26.7969 32.8125H20.1318C18.833 32.8125 17.5684 32.4297 16.4883 31.712L13.8564 29.9551C12.0312 28.7383 10.9375 26.6875 10.9375 24.4932V21.875V18.5938V16.8917C10.9375 14.8956 11.8467 13.0157 13.3984 11.7647L13.9043 11.3614C15.7158 9.91216 16.9531 7.87505 17.4043 5.60552L17.5615 4.82622C17.917 3.04888 19.6465 1.8936 21.4238 2.24907ZM2.1875 13.125H6.5625C7.77246 13.125 8.75 14.1026 8.75 15.3125V30.625C8.75 31.835 7.77246 32.8125 6.5625 32.8125H2.1875C0.977539 32.8125 0 31.835 0 30.625V15.3125C0 14.1026 0.977539 13.125 2.1875 13.125Z'
                fill='#465265'
              />
            </svg>
            <p>5</p>
          </div>
          <div>
            <svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 35 35' fill='none'>
              <path
                d='M21.4238 32.751C23.2012 32.3955 24.3564 30.666 24.001 28.8887L23.8437 28.1094C23.4814 26.2842 22.8115 24.5479 21.875 22.9688H31.7188C33.5303 22.9688 35 21.499 35 19.6875C35 18.4229 34.2822 17.3223 33.2295 16.7754C33.9746 16.1738 34.4531 15.251 34.4531 14.2188C34.4531 12.6191 33.3047 11.2861 31.7939 10.999C32.0947 10.5 32.2656 9.91895 32.2656 9.29688C32.2656 7.84082 31.3154 6.60352 30.0029 6.17969C30.0508 5.9541 30.0781 5.71484 30.0781 5.46875C30.0781 3.65723 28.6084 2.1875 26.7969 2.1875H20.1318C18.833 2.1875 17.5684 2.57031 16.4883 3.28809L13.8564 5.04492C12.0312 6.26172 10.9375 8.3125 10.9375 10.5068V13.125V16.4062V18.1084C10.9375 20.1045 11.8467 21.9844 13.3984 23.2354L13.9043 23.6387C15.7158 25.0879 16.9531 27.125 17.4043 29.3945L17.5615 30.1738C17.917 31.9512 19.6465 33.1064 21.4238 32.751ZM2.1875 26.25H6.5625C7.77246 26.25 8.75 25.2725 8.75 24.0625V8.75C8.75 7.54004 7.77246 6.5625 6.5625 6.5625H2.1875C0.977539 6.5625 0 7.54004 0 8.75V24.0625C0 25.2725 0.977539 26.25 2.1875 26.25Z'
                fill='#465265'
              />
            </svg>
            <p>2</p>
          </div>
        </aside>
      </div>
    </div>
    {{#if show_comments}}
      <div class='comments'>
        {{#each comments as |comment|}}
        {{> comment}}
        {{/each}}
        <div class='comment'>
          <div class=''>
            <div class='add-comment-title'>
              <input id='Input-Comment' class=' form-input' type='test' placeholder='add a new comment here'>
            </div>
          </div>
        </div>
        <div class='comment'>
          <div class='hide-container'>
            <button id='Add-Comment' class='hide-comment'>Add Comment</button>
          </div>
        </div>
      </div>
    {{/if}}
  </div>
</a>
